body{
    min-height: 100vh;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-change{
    height: 50px;
    width: 100px;
    color: coral;
    font-size: 18px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    outline: none;
}